.stat {
    padding: 10px;
    background: #fafafa;
    margin-bottom: 24px;
}
.stat__wrap {
    padding: 20px 16px;
    background-color: #fff;
    box-shadow: 0 5px 5px #6666661a;
}
.stat__wrap h2 {
    margin: 0;
}
.stat__total_stats {
    display: flex;
}
.stat__item_flex {
    padding: 18px 0;
}
.stat__items {
    display: flex;
    margin-bottom: 10px
}
.stat__item {
    margin-right: 20px;
}
.stat__title {
    margin-bottom: 10px;
    color: #00000073;
    font-size: 14px;
}
.stat__content {
    color: #000000d9;
    font-size: 24px;
}
.stat__dominate {
    font-weight: 600;
    background-color: #ffe58f;
}
.stat__details {
    padding: 20px 0;
}
.stat__nat_flex {
    display: flex;
    flex-wrap: wrap;
}
.stat__nat_flex div {
    line-height: 2;
    width: calc(100%/8);
}
.stat__nat_flex div span {
    font-weight: 700;
    margin-right: 5px;
}