.App {
    min-height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(0,0,0,.65);
    background-image: url("../images/backdrop.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.flex {
    display: flex;
}
.flex-ai-c {
    align-items: center;
}
.flex-jc-sb {
    justify-content: space-between;
}
.flex-jc-c {
    justify-content: center;
}
