a {
    text-decoration: none;
    color: #1890ff;
}
.cards {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 16px;
}
.card {
    width: calc(100%/6);
    padding: 0 5px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.card__container {
    background: #fff;
    border: 1px solid #f0f0f0;
}
.card__container:hover {
    border-color: transparent;
    box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px 0 #0000001f, 0 5px 12px 4px #00000017;
}
.card__image img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.card__content {
    font-size: 14px;
    padding: 24px;
}
.card__title {
    display: block;
    margin-bottom: 30px;
}
.card__name {
    font-size: 16px;
}
.card__age {
    font-size: 13px;
    color: #00000073;
}
.card__email, .card__phone, .card__location {
    display: flex;
}
.card__email, .card__phone {
    margin-bottom: 10px;
}
.card__email a, .card__phone a, .card__location_wrap {
    padding: 0 4px;
}
.card__location {
    line-height: 1.5;
}
.card__location_wrap {}
.card__country {
    font-weight: 600;
    margin-bottom: 5px;
}
.card__address {}