@media (min-width: 768px) {
    .container {
        padding: 1.25vw 2.6vw;
    }
}
.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 20px;
}
.paginate_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}