@media (min-width: 768px) {
    .container {
        padding: 1.25vw 2.6vw;
        flex-grow: 1;
    }
}
.paginate_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}